{% extends 'komesapp/checkout.html' %}


{% block popup1 %}
<h1>address change modal</h1>

<!-- <a href="{% url 'createaddress' %}">Add</a> -->
<!-- create address button -->
<button id="create-address-button">Add address</button>

<div id="create-address-modal-container"></div>

<div id="delete-address-confirmation-container"></div>

<ul>
    {% for address in addresses %}
            <div id="{{address.id}}" class="address-option-container {% if address.id == latest_address.id %} highlight {% endif %}">
                <li>
                    {{address.name}} <br>
                    {{address.address}} <br>
                    <a href="{% url 'updateaddress' address.id%}">Update</a>
                    <a href="{% url 'deleteaddress' address.id%}" id="delete-address-button">Delete</a>

                </li>
                
            </div>
    {% endfor %}
</ul>

<form action="{% url 'chooselatestaddress' address_id=1 %}" method="post" id="choose-address-form">
    {% csrf_token %}
    <input type="hidden" name="redirect_to" id="change-address-redirect-url" value="{{request.path}}">
    <input type="submit" value="Save">
</form>

<!-- close modal button -->
<!-- <button id="change-address-modal-close-button">Close</button> -->
 {{order}}
<!-- <a href="#">Close change modal</a> -->

{% endblock %}

{% block pop2 %}{% endblock %}



<!-- problems
closing the modal
saving data from modal

closing the modal:
remove html elements supplied
get element id with js and remove it

saving data from modal:
save input id from div that last clicked by user
when saved use id to update latestaddress
-->