<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}    
        Komesapp
        {% endblock %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>

    {% block header %}
    {% endblock %}
</head>
<body>
    <div class="fixed w-full">
        {% include 'komesapp/messages.html' %}
    </div>
    
    {% if user.is_authenticated %}
    <!-- header  -->

    <div class="bg-blue-500 pt-5">
        <div class="flex justify-between items-center">
            <h3 class="font-bold text-5xl text-white ml-3">Komes</h3>
    
            <div class="mr-3">
                <p>{{ user.username }}</p>

                <form method="post" action="{% url 'logout' %}" >
                    {% csrf_token %}
                    <a href="#" class="hover:underline">
                        <input type="submit" value="Logout" class="cursor-pointer">
                    </a>
                </form>
            </div>
            
        </div>

        <!-- navigation -->
        <div class="grid grid-flow-col mt-5 justify-stretch">

            <a href="{% url 'index' %}" class="font-semibold text-white text-lg hover:underline ">
                <div class="hover:bg-blue-700 py-2 px-4 text-center">
                    Products
                </div>
            </a>
            <a href="{% url 'stores' %}" class="font-semibold text-white text-lg hover:underline">
                <div class="hover:bg-blue-700 py-2 px-4 text-center">
                    Stores
                </div>
            </a>
            <a href="{% url 'order' %}" class="font-semibold text-white text-lg hover:underline">
                <div class="hover:bg-blue-700 py-2 px-4 text-center">
                    Order
                </div>
            </a>
            <a href="{% url 'settings' %}" class="font-semibold text-white text-lg hover:underline">
                <div class="hover:bg-blue-700 py-2 px-4 text-center">
                    Settings
                </div>
            </a>

        </div>
        
    </div>

    <div>
        <div>
            {% block popup1 %}
            {% endblock %}
            
            {% block popup2 %}
            {% endblock %}
        </div>
        <div class="px-4 py-2">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}


    <script>
        const msgElement = document.getElementById('msg')
        // if (msgElement) {
        //     setTimeout(function() {
        //         if (msgElement.textContent.length > 0) {
        //             msgElement.remove()
        //         }
        //     }, 2000)
        // }

        if (msgElement) {
            msgElement.addEventListener('click', async() => {
                msgElement.remove()
            })
        }
    </script>

    {% block script %}{% endblock %}
</body>
</html>