{% extends 'komesapp/base.html'%}

{% block header %}

<script type="text/javascript"
src="https://app.sandbox.midtrans.com/snap/snap.js"
data-client-key="{{ client_key }}"></script>

{% endblock %}

{% block content %}

Here are your order sir

{% if user.is_authenticated %}
{{ user.username }}
{% endif %}

<div>

    <!-- total payment -->
    <!-- <table>
        <tr>
            <td>Product</td>
            <td>Price</td>
        </tr>
        {% for product in order.products.all %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total payment: </td>
            <td>{{total_payment}}</td>
        </tr>
    </table> -->
    

    <!-- form -->
    <!-- <form action="#" method="post">
        {% csrf_token %} -->
        <!-- choose payment method -->


        <!-- choose shipment method -->


        <!-- address input -->

        <!-- <input type="submit" value="Submit">
    </form> -->

    <!-- create a dropdown button with list of available prices and their courier name
    with selected price update total price -->

    <!-- <button id="pay-button">Pay</button> -->

    <!-- midtrans payment form -->
    <div id="snap-container"></div>
</div>

{% endblock %}

{% block script %}
<script>
    console.log('this is script')
    // For example trigger on button clicked, or any time you need
    document.addEventListener('DOMContentLoaded', async() => {
        // Trigger snap popup. @TODO: Replace TRANSACTION_TOKEN_HERE with your transaction token.
        // Also, use the embedId that you defined in the div above, here.
        window.snap.embed('{{snap_token}}', {
            embedId: 'snap-container'
        });
    })
</script>
{% endblock %}
