{% extends 'komesapp/base.html' %}

{% load static %}

{% block title %}
Komesapp Checkout
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'komesapp/style.css' %}">
{% endblock %}

{% block content %}
<!-- base url for redirecting url -->
<input type="hidden" id="base-url" value="{{request.path}}">


Here are your order sir

{% if user.is_authenticated %}
{{ user.username }}
{% endif %}

<div>
    <!-- total payment -->
    <table>
        <tr>
            <td>Product</td>
            <td>Price</td>
        </tr>
        {% for product in order.products.all %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Total payment: </td>
            <td id="products-total-payment">{{order.products_total_payment}}</td>
        </tr>
    </table>

    <!-- <a href="{% url 'address' %}">Change address</a> -->
    
    
    {% if address %}

    <div>
        <h3>selected address</h3>
        {{address.name}} <br>
        {{address.city}} <br>
        {{address.address}} <br>
    </div>

    
    <!-- <button id="change-address-button">Change Address</button> -->
    <a href="{% url 'orderaddress' %}">Change address</a>
    {% else %}
    <a href="{% url 'ordercreateaddress' %}">Create address</a>
    {% endif %}

    <div>
        <h3>store address</h3>
        {{store.name}} <br>
        {{store.address.city}} <br>
    </div>
    
    <div id="change-address-modal-container"></div>

    <!-- shipment options 
    get all shipment from selected address in view 
    {element['courier_name']+element['courier_service_name']: 
    'courier_name': element['courier_name'],
    'courier_service_name': element['courier_service_name'], 
    'duration': element['duration'], 
    'price': element['price']
    for element in res['couriers_api']['pricing']}
    -->

    <div id="parent" tabindex="0" >
        <div id="parent-content">
            <br>
            <br>
            
        </div>

        <div class="overlay" style="visibility:hidden"></div>

        <div class="child">
            {% for shipment in shipments %}
            <div id="{{forloop.counter}}" class="courier-option">
                <div id="courier-name">
                    {{shipment.courier_name}}

                </div>
                
                {{shipment.courier_service_name}} <br>
                {{shipment.duration}} <br>
                <div id="courier-fee">
                    {{shipment.price}}
                </div>

                <div id="courier-type" hidden>
                    {{shipment.courier_service_code}}
                </div>
                <div id="delivery-type" hidden>
                    now
                </div>
                <div></div>
            </div>
            <hr>
        {% endfor %}
        </div>
    </div>
    

    <table>
        <tr>Total payment: </tr>
        <!-- <tr></tr> -->
        <tr>
            <p id="total-payment">
                {{order.products_total_payment}} + Courier fee
            </p>
        </tr>
    </table>
</div>

<form action="{% url 'checkout' order.id %}" method="post" id="pay-form">
    {% csrf_token %} 
    <input type="hidden" name="address" value="{{address.name}}">
    <!-- <input type="hidden" name="courier" value="" id="courier-input"> -->
    <input type="hidden" name="courier-fee">
    <input type="hidden" name="courier-name">
    <input type="hidden" name="courier-type">
    <input type="hidden" name="delivery-type">
    <input type="submit" value="Pay">
</form>

<!-- <input type="hidden" id="change-address-url" value="{% url 'address' %}"> -->
{% endblock %}

{% block script %}
<script src="{% static 'komesapp/shipmentoption.js' %}"></script>

{% endblock %}
