
{% if user.is_authenticated %}
{{ user.username }}
{% endif %}

<!-- add permission for creating store (only for those who don't already have a store) -->
<form method="post" action="{% url 'createstore' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.name.label_tag }}</td>
        <td>{{ form.name }}</td>
    </tr>
    <tr>
        <td>{{ form.description.label_tag }}</td>
        <td>{{ form.description }}</td>
    </tr>
    </table>
    <input type="submit" value="Create store">
</form>
