{% extends 'komesapp/base.html'%}


{% block content %}

Here are your order sir

{% if user.is_authenticated %}
{{ user.username }}
{% endif %}

<div>
    {% if orderproducts %}
    <a href="{% url 'clearorder' %}">Clear order</a>
    {% else %}
    Order empty
    {% endif %}
    <ul>
        {% for orderproduct in orderproducts %}
        <li>
            <img src="{{orderproduct.product.photo.url}}" alt="" height="200" width="150">
            <br>
            {{orderproduct.product.name}}
            <br>
            {{orderproduct.product.price}}
            <br>
            <p>Quantity: {{orderproduct.count}}</p>
            <!-- delete product -->
            <form action="{% url 'orderdeleteproduct' orderproduct.product.id %}" method="post">{% csrf_token %}
                <input type="submit" value="Delete">
            </form>
        </li>
        {% endfor %}
    </ul>

    {% if orderproducts %}
    <a href="{% url 'checkout' orderproducts.first.order.id %}">Checkout</a>
    {% endif %}
    
</div>

{% endblock %}