{% extends 'komesapp/base.html'%}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'komesapp/style.css' %}">
{% endblock %}

{% block content %}
<!-- base url for redirecting url -->
<input type="hidden" id="base-url" value="{{request.path}}">

Here are your settings sir

{% if user.is_authenticated %}
{{ user.username }}
{% endif %}

<div>

    {% if has_store is False %}
    <a href="{% url 'createstore' %}">Create store</a>
    {% else %}
    <a href="{% url 'storedetail' user.store.id %}">Store detail here</a>
    {% endif %}
    
    <!-- <a href="{% url 'address' %}">Addresses</a>
      -->
    <div>
        {% if address %}
          <h3>selected address</h3>
          {{address.name}} <br>
          {{address.city}} <br>
          {{address.address}} <br>
          <!-- <button id="change-address-button">Change Address</button> -->
          <a href="{% url 'settingsaddress' %}">Change address</a>
        {% else %}
        There isn't an address
        {% endif %}
    </div>

</div>

<!-- add js to inject html to a div -->
<div id="change-address-modal-container"></div>



<input type="hidden" id="change-address-url" value="{% url 'address' %}">
{% endblock %}

{% block script %}
<script src="{% static 'komesapp/addressmodal.js' %}"></script>

{% endblock %}